<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="" method="POST">
    <input type="text" name="roomName">
    <input type="submit" value="入室">
  </form>
  </body>
</html>

