<!DOCTYPE html>
<html>
  <head>
  <title><%= roomName %></title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../public/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      $(function() {
        socket.on('message', function(data){
          tr = $('<tr>')
          .append('<td>' + data.nickName + '</td>')
          .append('<td> >> </td>')
          .append('<td>' + data.message + '</td>')
          .append('<td>' + data.time + '</td>');
          tbody = $('<tbody>').append(tr);
          $('table').append(tbody);
        });
      });
      
      function send() {
        var str = $('#msg').val();
        if (str != '') {
          socket.emit('room', { roomName: "<%= roomName %>", message: str });
        }
        $('#msg').val('');
      }

      socket.emit('join', { roomName: "<%= roomName %>", nickName: "<%= nickName %>" });
    </script>
  </head>
  <body>
    <input type="text" id="msg">
    <input type="button" value="send" onClick="send()">
    <table></table>
  </body>
</html>
